.main
  padding-top: 1em
  background-color: #fefefe
  border-radius: 8px
.field_with_errors
  label
    color: #d01612
  input, textarea
    border-color: #d01612

.tag_cloud
  margin-top: 1em
  margin-bottom: 1em
  padding: 1em
  padding-right: 3px
  background-color: #e8eaef
  border-radius: 8px

.submenu
  background-color: #e8eaef
  border-radius: 8px
  padding-top: 1em
  ul.subnav
    list-style: none
    padding-left: 0

  ul.nested_nav
    padding-left: 1em

.blog-footer
  padding: 1.5rem 0
  color: #999
  text-align: center
  background-color: #f9f9f9
  border-top: .05rem solid #e5e5e5

